<div class="container-fluid bgdark">
    <div class="waves-container">
        <div class="wave wave1"></div>
        <div class="wave wave2"></div>
        <div class="wave wave3"></div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <span><span>&copy; Thomas MATHIS</span> | {{"now"|date('Y')}} </span><a href="mailto:tmathis.dev@gmail.com">Contact</a><a href="{{site.url}}/legal/">Mentions légales</a>
        </div>
        <div class="col-md-6 right">
            <span>Design by </span><a>Thomas MATHIS</a>
        </div>
    </div>
</div>
