<div class="container-fluid bgdark">
    <div class="row">
        <div class="col-md-10">
            <span><span>&copy; Agence Alchimy</span> | {{"now"|date('Y')}} </span><a href="mailto:hello@agence-alchimy.fr">Contact</a><a href="{{site.url}}/legal/">Mentions légales</a>
        </div>
        <div class="col-md-6 right">
            <span>Design by </span><a href="https://agence-alchimy.fr">Agence Alchimy</a>
        </div>
    </div>
</div>
