{# gallery.twig #}

{% extends 'base.twig' %}

{% block content %}
  <div class="container">
    <h1>{{ post.title }}</h1>

    {% if post.get_field('photos') %}
      <ul class="acf-gallery">
        {% for image in post.meta('gallery') %}
          <img src="{{ get_image(image) }}" />
        {% endfor %}
      </ul>
    {% else %}
      <p>Aucune photo disponible.</p>
    {% endif %}
  </div>
{% endblock %}


