{% extends "base.twig" %}

{% block content %}
<div class="container-fluid">
<div class="container-fluid">
  <div class="row row--equal-height">
    <!-- Carte profil -->
    <div class="col-12 col-md-10">
        <div class="bento-card">
            <div class="bento-card__header">
                <h2>Profil</h2>
            </div>
            <div class="profile-card">
                {% if post.thumbnail %}
                    <div class="profile-card__image">
                        <img src="{{ post.thumbnail.src }}" alt="Photo de profil" class="profile-card__avatar">
                    </div>
                {% endif %}
                <div class="profile-card__description">
                    {{ post.content }}
                </div>
            </div>
        </div>
    </div>

    <!-- Carte compétences -->
    <div class="col-12 col-md-6">
      <div class="bento-card bento-card--dark">
        <div class="bento-card__header">
            <h2>Compétences</h2>
        </div>
        <div class="competences-grid">
            {% for competence in competences %}
                <div class="competences-grid__item">
                    {{ competence.name }}
                    </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>


  <div class="row row--equal-height">
    <!-- Formations -->
    {% include 'formation.twig' %}

    <!-- Expérience -->
    {% include 'experience.twig' %}

    <!-- Projets -->
    {% include 'projet.twig' %}
  </div>
</div>
</div>
{% endblock %}