.button {
  color: var(--color--light);
  text-decoration: none;
  font-weight: 900;
  line-height: toRem(20);
  display: inline-block;
  padding: 20px 30px;
  background-color: var(--color--primary);
  border-radius: 0 20px 20px 20px;
  transition: color $transition-duration;
  &:hover {
    color: var(--color--secondary);
  }
}
